BODY {
  background-color: hsla(147, 89%, 45%, 1);
  color: hsla(0, 0%, 32%, 1);
}

.main .column{
  text-align: center;
}

#profilePic img{
  border-radius: 20px;
}

BUTTON{
  background-color: hsla(220, 80%, 44%, 1) !important;
}
