BODY {
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.container:first-of-type{
  margin-top: 1em;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 3.3em;
}

.main .column{
  text-align: center;
}

#profilePic img{
  border-radius: 50%;
  border: 4px solid black;
  position: relative;
}

.mainDesc{
  padding-top: 1em;
}

BUTTON{
  background-color: hsla(220, 80%, 44%, 1) !important;
}

.buttons .column{
  max-width: 100% !important;
}

.buttons .column a{
  width: 100%;
  background-color: gray;
  border: none;
}

.buttons .column a:hover{
  background-color: orangered;
}

.row.content {
  margin-top: 4em;
}

.project h3{
  margin-bottom: 0;
}

.project p:last-of-type{
  /*So I can use the same .row margin-top*/
  margin-bottom: 0;
}
