BODY {
  background-color: hsl(203, 89%, 45%);
  color: black;
  font-family: 'Poppins', sans-serif;
}

.container:first-of-type{
  margin-top: 1em;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 3.3em;
    -webkit-text-stroke-color: orange;
    -webkit-text-stroke-width: 2.5px;
}

.main .column{
  text-align: center;
}

#profilePic img{
  border-radius: 20px;
  border: 4px solid black;
}

BUTTON{
  background-color: hsla(220, 80%, 44%, 1) !important;
}
